<mat-expansion-panel class="post-form-panel">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Whats going on?
    </mat-panel-title>
    <mat-panel-description>
      Share something with the community
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div class="panel-content" *ngIf="authenticated$ | async">
    <mat-menu #selectPostMethod="matMenu" class="select-post-method-menu">
      <button mat-menu-item class="select-post-method-menu-item" (click)="setCharacter()">
        <img src="{{ character.portrait.px64x64}}">
        <span>{{ character.name }}</span>
      </button>
      <button *ngIf="character.corporation"
              mat-menu-item
              class="select-post-method-menu-item"
              (click)="setCorporation()">
        <img src="{{ character.corporation.icon.px64x64}}">
        <span>{{ character.corporation.name }}</span>
      </button>
      <button *ngIf="character.corporation && character.corporation.alliance"
              mat-menu-item
              class="select-post-method-menu-item"
              (click)="setAlliance()">
        <img src="{{ character.corporation.alliance.icon.px64x64}}">
        <span>{{ character.corporation.alliance.name }}</span>
      </button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="selectPostMethod" class="select-post-method">
      <img src="{{ postAsImage }}">
    </button>

    <div class="post-input-wrap">
      <app-rich-content-editable
        #postForm
        class="post-input-field"
        (submit)="submit()"
        (update)="writing($event)">
      </app-rich-content-editable>
    </div>


    <div class="button-wrap">
      <div class="emoji-wrapper">
        <emoji-mart *ngIf="showEmojiMart"
                    id="emoji-mart-picker"
                    (emojiClick)="insertEmoji($event)"
                    title="Pick your emoji…"
                    emoji="point_up"
                    set="emojione"></emoji-mart>
        <button id="open-emoji-mart-picker" mat-icon-button (click)="openEmojiMart()">
          <mat-icon>mood</mat-icon>
        </button>
      </div>
      <button mat-button (click)="submit()">Share</button>
    </div>
  </div>

  <div class="panel-content" *ngIf="(authenticated$ | async) == false">
    <p class="unauthenticated">You have to be logged in to post content</p>
  </div>

</mat-expansion-panel>

