# Ignore everything
**

!package.json
!yarn.lock
!lerna.json

# We need dependencies information
!src/**/package.json
# ^---- Should work but it doesnt?????
!src/services/alliance/package.json
# We need tsconfig.base.json
!src/**/tsconfig.base.json
