<app-loading *ngIf="!alliance"></app-loading>

<div class="profile" *ngIf="alliance">

  <app-profile-header [image]="alliance.icon.px128x128"
                      [title]="alliance.name"
                      [handle]="alliance.handle"
                      [type]="'alliance'">

    <button mat-raised-button
            (click)="follow()"
            [color]="follower() ? 'accent' : 'primary'"
            mat-raised-button>
      {{ follower() ? 'Un Follow' : 'Follow' }}
    </button>
  </app-profile-header>

  <div class="content">
    <div class="narrow">

      <div class="stats">
        <div class="stats-item">
          <span>Posts</span>
          <span class="number">{{alliance.numPosts}}</span>
        </div>
        <a routerLink="./followers" class="stats-item">
          <span>Followers</span>
          <span class="number">{{alliance.followers.length}}</span>
        </a>
      </div>


      <div class="about">
        <div class="about-item-content">
          <p>Members</p>
          <p class="about-data">{{alliance.memberCount}}</p>
        </div>

        <div class="about-item-content">
          <p>Corporations</p>
          <p class="about-data">{{alliance.corpCount}}</p>
        </div>
      </div>

      <app-footer></app-footer>
    </div>

    <router-outlet></router-outlet>
  </div>
</div>
