<div class="footer-block">
  <strong class="footer-separator">EVE Book</strong>
  <div class="footer-item"><a routerLink="/about">About</a></div>
  <div class="footer-item"><a routerLink="/about/donations">Donations</a></div>
  <div class="footer-item"><p>
    Built with love by
    <a [routerLink]="['/character', 94829163]">Mentier TheGreat</a>
    and
    <a href="https://github.com/evebook/web/graphs/contributors">Community</a>
  </p></div>
</div>
<div class="footer-block">
  <strong class="footer-separator">Legal</strong>
  <div class="footer-item"><p>
    All
    <a routerLink="/about/legal">EVE Related materials</a>
    are property of
    <a href="http://www.ccpgames.com/">CCP Games</a>
  </p></div>
  <div class="footer-item"><a routerLink="/about/legal">CCP Copyright Notice</a></div>
  <div class="footer-item"><a routerLink="/about/legal">EVE Book uses GPL-3.0 License</a></div>
</div>
