@import "../../variables";

$footer-color: #f3f3f3;

:host {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  font-weight: 300;
  color: $footer-color;

  .footer-block {
    margin-top: 1em;
    display: flex;
    flex-direction: column;

    a,
    p {
      margin: 0;
    }
    .footer-item {
      margin-bottom: 0.1em;
    }

    a {
      font-weight: 500;
      text-decoration: none;
      color: $footer-color;

      &:hover {
        color: map-get($app-primary, 500);
      }
    }

    .footer-separator {
      margin-bottom: 0.5em;
      text-transform: uppercase;
      border-bottom: 2px solid map-get($app-primary, 500);
      font-weight: 600;
    }
  }
}
