<div class="post-list">
  <app-post-form *ngIf="showForm"
                 [characterWall]="characterWall"
                 [corporationWall]="corporationWall"
                 [allianceWall]="allianceWall">
  </app-post-form>
  <app-post [showCommentForm]="showCommentForm"
            *ngFor="let post of postList.data"
            [post]="post"></app-post>
</div>

<mat-card class="start" *ngIf="postList.data.length !== 0 && showEnding">
  <mat-card-content>
    <p>Start of everything</p>
  </mat-card-content>
</mat-card>

<mat-card class="empty" *ngIf="postList.data.length === 0">
  <mat-card-content>
    <p>looks like there is nothing here :/</p>
  </mat-card-content>
</mat-card>
