<div class="text-content">
  <section>
    <h2>What's EVE Book About</h2>
    <p>
      Project was started with an idea of creating social platform for players of EVE Online. A
      place where players could connect and share their experiences, fan art, images, videos,
      thoughts, propaganda...
    </p>
    <p>
      Each "user" would be an actual EVE Online character and you could only login using game's
      credentials (SSO), this way it would offer a lot of opportunities for role playing characters
      to work on their characters. Alliances and corporations could share propaganda videos/art and
      gather followers who could re-share and spread the word.
    </p>
    <p>
      Whole platform would heavily relay on EVE Online API, so that you could send in game emails,
      create events (calendar). It would feel as an extension of game itself.
    </p>
    <p>
      Think of it as combination of r/eve and twitter. A hub of EVE Online community.
    </p>
  </section>
  <section>
    <h2>Contact</h2>
    <p>
      If you wan't to come in contact with creator <a routerLink="/character/94829163">Mentier
      TheGreat</a> you can do that bu using in game mail (which might take a while for me to
      notice), or by sending me an real email to mentos1386 (at) tjo.space. I'm also reachable on
      Tweetfleet slack.
    </p>
  </section>
</div>
