<div class="search-wrapper" [class.active]="searchFocus || searchHover">

  <mat-icon class="search-icon">search</mat-icon>
  <input (blur)="toggleBlur()"
         (focus)="toggleFocus()"
         placeholder="Search EVE Online"
         [formControl]="searchCtrl">

  <ul class="search-results"
      *ngIf="searchFocus || searchHover"
      (mouseleave)="leftSearch()"
      (mouseenter)="enterSearch()">

    <h3 *ngIf="showCharacters | async">Characters</h3>
    <li *ngFor="let character of characters | async">
      <a mat-button [routerLink]="['/', character.category, character.id]">{{character.name}}</a>
    </li>

    <h3 *ngIf="showCorporations | async">Corporations</h3>
    <li *ngFor="let corporation of corporations | async">
      <a mat-button
         [routerLink]="['/', corporation.category, corporation.id]">{{corporation.name}}</a>
    </li>

    <h3 *ngIf="showAlliances | async">Alliances</h3>
    <li *ngFor="let alliance of alliances | async">
      <a mat-button [routerLink]="['/', alliance.category, alliance.id]">{{alliance.name}}</a>
    </li>
  </ul>

</div>



