<div class="text-content">
  <section>
    <h2>CCP</h2>
    <p>
      EVE Online and the EVE logo are the registered trademarks of CCP hf. All rights are reserved
      worldwide. All other trademarks are the property of their respective owners. EVE Online, the
      EVE logo, EVE and all associated logos and designs are the intellectual property of CCP hf.
      All artwork, screenshots, characters, vehicles, storylines, world facts or other recognizable
      features of the intellectual property relating to these trademarks are likewise the
      intellectual property of CCP hf. CCP hf. has granted permission to evebook.online to use EVE
      Online and all associated logos and designs for promotional and information purposes on its
      website but does not endorse, and is not in any way affiliated with, evebook.online. CCP is in
      no way responsible for the content on or functioning of this website, nor can it be liable for
      any damage arising from the use of this website.
    </p>
  </section>

  <section>
    <h2>License</h2>
    <p>
      EVE Book uses GPL-3.0 License which can be found
      <a href="https://github.com/evebook/web/blob/master/LICENSE">here for WEB</a> and
      <a href="https://github.com/evebook/api/blob/master/LICENSE">here
        for API</a>
    </p>
  </section>
</div>
