<mat-toolbar [ngClass]="{'scroll': scrolling}">
  <div class="button-row">
    <div class="nav-container">
      <a routerLink="" mat-button>HOME</a>
      <a routerLink="/about" mat-button *ngIf="!(authenticated$ | async)">ABOUT</a>
      <app-navbar-notifications *ngIf="authenticated$ | async"></app-navbar-notifications>
    </div>
    <app-navbar-search></app-navbar-search>
    <div class="nav-container">
      <a *ngIf="!(authenticated$ | async)"
         href="{{authenticationUrl}}authentication/sso"
         mat-raised-button color="accent">LOG IN</a>
      <a *ngIf="authenticated$ | async"
         [routerLink]="['character', (character$|async).id]"
         mat-button>PROFILE</a>
      <button *ngIf="authenticated$ | async" (click)="logout()" mat-button>LOGOUT</button>
    </div>
  </div>
</mat-toolbar>
