@import "../../../variables";

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $app-background-color;
  width: 100%;

  .header-wrap {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: $app-content-max-width;

    .content {
      display: flex;
      flex-direction: row;
      padding-top: 1em;

      img {
        height: 128px;
        width: 128px;
      }

      .info {
        margin-left: 1em;
        display: flex;
        flex-direction: column;
        align-self: center;

        p,
        h2 {
          margin: 0;
        }

        h2 {
          font-size: 2.5em;
          letter-spacing: .09em;
          font-weight: 500;
          display: flex;
          flex-direction: column;

          a {
            font-weight: 300;
            font-size: 0.6em;
            text-transform: uppercase;
            text-decoration: none;
            color: #f3f3f3;

            &:hover {
              color: map-get($app-primary, 500);
            }
          }
        }
      }

      .right-wrap {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;

        small {
          margin-top: 1em;
          font-weight: 500;
          letter-spacing: 0.15em;
          text-transform: uppercase;
          align-self: flex-end;
        }

        .actions {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-end;
          flex: 1 1 auto;

          button {
            text-transform: uppercase;
            letter-spacing: .09em;
          }
        }
      }
    }

    .navigation {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-top: .5em;
      padding-bottom: .5em;

      button {
        text-transform: uppercase;
      }

      .zkill-link mat-icon {
        margin-left: .25em;
      }
    }
  }
}
